
<form>
    <div class="form-group">
        <label for="exampleSelect1">Select Graph</label>
        <select class="form-control" id="exampleSelect1">
            <option>Barchart (count)</option>
            <option>Linechart</option>
            <option>Piechart</option>
            <option>other</option>
            <option>other other</option>
        </select>
        <div class="form-group">
            <label for="exampleSelect2">Example multiple select</label>
            <select multiple class="form-control" id="exampleSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>
</form>