<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://192.168.16.100:8014</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.16.100</MSDeployServiceURL>
    <DeployIisAppPath>team14</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IntegratieDB" Order="1" Enabled="True">
          <Destination Path="Data Source=192.168.16.100;Initial Catalog=dbTeam14;Persist Security Info=True;User ID=testuser;Password=Test1234(" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Integratie.MVC.Models.ApplicationDbContext, Integratie.MVC" MigrationConfiguration="Integratie.MVC.Migrations.Configuration, Integratie.MVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="IntegratieDB-Web.config Connection String">
      <ParameterValue>Data Source=192.168.16.100;Initial Catalog=dbTeam14;Persist Security Info=True;User ID=testuser;Password=Test1234(</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>