@using Integratie.Domain.Entities.Subjects;
@model IEnumerable<Theme>

@{
    ViewBag.Title = "Index";
}

<div class="TeslaThemesContainer">
    <ul>
        @foreach (Theme t in Model)
    {
        <li data-id="'+@t.ID+'" class="d-inline-block TeslaThemeBlock flex-column" >
            <a href="@Url.Action("Theme", "Theme",new { id = t.ID })">
                <h3 class="TeslaThemeText">@t.Name</h3>
                <div class="TeslaThemeImage">
                    <img align="right" src="@t.GetImageSrc()" />
                </div>
            </a>
        </li>
    }
    </ul>
</div>