@using Integratie.Domain.Entities.Subjects;
@model IEnumerable<Theme>

@{
    ViewBag.Title = "Index";
}
<div class="col-md-12">
    @using (Html.BeginForm("CSVOpladen", "Theme", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label for="attachment">Select a Csv File</label>
            <label class="btn btn-default btn-file">
                <input type="file" name="attachmentcsv" id="attachmentcsv">
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    }
</div>
<div class="TeslaThemesContainer">
    <ul>
        @foreach (Theme t in Model)
        {
            <li data-id="'+@t.ID+'" class="d-inline-block TeslaThemeBlock flex-column">
                <a href="@Url.Action("Theme", "Theme",new { id = t.ID })">
                    <h3 class="TeslaThemeText">@t.Name</h3>
                    <div class="TeslaThemeImage">
                        <img align="right" src="@t.GetImageSrc()" />
                    </div>
                </a>
            </li>
        }
    </ul>
</div>