@model Integratie.Domain.Entities.Alerts.CompareAlert

@{
    string type;
}

@if (Model.Graph.GraphType == Integratie.Domain.Entities.Graph.GraphType.Barchart)
{
    type = "Bar";
}
else
{
    type = "Line";
}
<div class="item"><a href="@Url.Action("Persoon","Subject",new { @id = Model.SubjectA.ID, @Full_Name = Model, @alertId = Model.AlertID, @type = type })">@Html.DisplayFor(model => model.SubjectA.Name) @ViewBag.Operator @Html.DisplayFor(model => model.SubjectB.Name)</a></div>
