@model Integratie.Domain.Entities.Alerts.SentimentAlert

<div class="item">@Html.DisplayFor(model => model.Subject.Name) @ViewBag.Operator @Html.DisplayFor(model => model.Value)% @ViewBag.Property</div>
