.container-fluid {
    box-shadow: 0px 2px 10px lightgrey;
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
    opacity: 0.98;
    font-family: 'Montserrat', sans-serif;
    z-index: 10;
}

.navbar-brand {
    font-weight: bold;
    transition: 0.5s;
    color:#007bff;
}
.navbar-default .navbar-brand {
    color: #007bff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #007bff;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    transition: 0.4s;
}

.navbar-default .navbar-nav > li > a {
    transition: 0.3s;
}


.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    transition: 0.3s;
}
.slideshow-foto {
    text-align: center;
    height: 450px;
    width: 80%;
    background: #E8E8E8;
    margin: 2% auto;
    background-image: url(./Images/bartdw.png);
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}

.slideshow-tekst {
    font-family: 'Montserrat', sans-serif;
    color: white;
    line-height: 450px;
    font-size: 1.6em;
    font-weight: bold;
    transition: 0.5s;
}

.mantel-grafieken {
    width: 80%;
    height: 250px;
    margin: 2% auto;
    transition: 0.5s
}

.grafiek-een,
.grafiek-twee,
.grafiek-drie {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 30%;
    float: left;
    background: #F0F0F0;
    transition: 0.5s
}

.grafiek-twee,
.grafiek-drie {
    margin-left: 5%;
}

.grafiek-een, .grafiek-drie {
    background-image: url(./Images/backdrop.png);
    background-size: cover;
    background-position: left;
}

.grafiek-twee {
    background-image: url(./Images/background.png);
    background-size: cover;
    background-position: top;
}

.grafiek-placeholder {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: 0.5s;
}

.mantel-subjects {
    width: 80%;
    height: 500px;
    margin: 2% auto 2% auto;
}

.subject-thema,
.subject-partijen,
.subject-politici {
    color: white;
    height: 500px;
    width: 30%;
    float: left;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.subject-partijen,
.subject-politici {
    margin-left: 5%;
}

.subject-thema {
    background-image: url(./Images/Onderwerp.jpg);
    background-size: cover;
    position:relative;
}
.subject-politici {
    background-image: url(./Images/kamer.jpg);
    background-size: cover;
    position: relative;
}

.subject-partijen {
    background-image: url(./Images/parlement.JPG);
    background-size: cover;
    position: relative;
}
.content {
    filter: brightness(1);
    position: absolute;
    background-color: #00000066;
    width: 100%;
    padding: 20px;
}
.titel-subjects {
    font-size: 1.8em;
    font-weight: bold;
    transition: 0.5s;
}

.uitleg-subjects {
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
}

.knop-subjects {
    padding: 7px;
    border: 2px solid white;
    background: white;
    color: #202020;
    border-radius: 5px;
    transition: 0.5s;
    transition: 0.5s;
}

    .knop-subjects:hover {
        background: none;
        color: white;
    }

.mantel-dashboard {
    width: 80%;
    height: 400px;
    background: #E8E8E8;
    margin: 20px auto;
    transition: 0.5s;
    overflow: hidden;
}

.foto-dashboard {
    width: 40%;
    height: 400px;
    background: #E8E8E8;
    float: left;
    transition: 0.5s;
    background-image: url(./Images/imac.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tekst-dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 400px;
    background: #E8E8E8;
    float: left;
    transition: 0.5s;
    padding-left: 40px;
    padding-right: 40px;
}

.titel-dashboard {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
    transition: 0.5s;
}

.uitleg-dashboard {
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    font-size: 1em;
    transition: 0.5s;
}

.knop-dashboard {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border: 2px solid #202020;
    border-radius: 5px;
    background: #E8E8E8;
    transition: 0.5s;
    margin-top: 20px;
    transition: 0.5s;
    color:black;
}

    .knop-dashboard:hover {
        background: #202020;
        color: #F0F0F0;
    }

.mantel-app {
    width: 80%;
    height: 400px;
    margin: 2% auto 2%;
    background: #E8E8E8;
    transition: 0.5s;
    overflow: hidden;
    transition: 0.5s;
}

.app {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 60%;
    background: #E8E8E8;
    float: left;
    transition: 0.5s;
}

.align-app {
    padding: 60px;
}

.titel-app {
    font-size: 2em;
    font-weight: bold;
}

.uitleg-app {
    line-height: 30px;
}

.knop-app {
    font-family: 'Montserrat', sans-serif;
    border: 2px solid black;
    background: none;
    padding: 7px;
    border-radius: 5px;
    transition: 0.5s;
}

    .knop-app:hover {
        background: black;
        color: white;
    }

.knop-alerts, .knop-newsletter {
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding: 7px;
    border: 2px solid white;
    border-radius: 5px;
    background: white;
    transition: 0.5s;
    margin-top: 20px;
    transition: 0.5s;
}

    .knop-alerts:hover, .knop-newsletter:hover {
        background: none;
        color: white;
    }

.knop-newsletter {
    margin-top: 15px;
}

.foto-app {
    margin-top: 20px;
    height: 400px;
    width: 40%;
    background-image: url(./Images/oneplus.png);
    background-size: cover;
    background-position: top;
    float: left;
    transition: 0.5s;
}

.mantel-alerts-newsletter {
    height: 400px;
    width: 80%;
    margin: 2% auto;
    overflow: hidden;
}

.alerts {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 42%;
    color: white;
    background-image: url(./Images/background.png);
    background-size: cover;
    float: left;
    padding: 60px;
}

.titel-alerts {
    font-weight: bold;
}

.uitleg-alerts {
    line-height: 30px;
}

.spatie {
    height: 400px;
    width: 3%;
    float: left;
    background: white;
}

.newsletter {
    font-family: 'Montserrat', sans-serif;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 55%;
    float: right;
    color: white;
    background-image: url(./Images/background.png);
    background-size: cover;
    background-position: left;
}

.titel-newsletter {
    font-weight: bold;
}

.uitleg-newsletter {
    line-height: 30px;
}

.invulstrook {
    margin-top: -20px;
}



.footer {
    width: 100%;
    height: 50px;
    background: white;
    text-align: center;
    opacity: 0.98;
    border-top: 1px solid lightgrey;
}

.credits {
    font-family: 'Montserrat', sans-serif;
    color: #202020;
    line-height: 50px;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
    margin-left: 1%;
    color: #202020;
    transition: 0.5s;
    font-size: 1.1em;
}

    .fa-facebook:hover,
    .fa-twitter:hover,
    .fa-instagram:hover {
        color: grey;
        text-decoration: none;
        transform: scale(1.4, 1.4);
    }

@media (max-width: 1000px) {

    .foto-dashboard {
        width: 100%;
        height: 300px;
    }

    .tekst-dashboard {
        width: 100%;
        height: 300px;
        text-align: center;
    }

    .mantel-dashboard {
        height: 600px;
    }

    .subject-thema,
    .subject-partijen,
    .subject-politici {
        width: 100%;
        float: left;
        margin: 0px 0px 3% 0px;
        height: 300px;
    }

    .titel-subjects {
        font-size: 1.5em;
        font-weight: bold;
    }

    .subject-thema,
    .subject-politici {
        background-position: bottom;
    }

    .mantel-app {
        height: 300px;
    }

    .app {
        width: 100%;
        height: 300px;
    }

    .mantel-alerts-newsletter {
        height: 700px;
    }

    .alerts {
        width: 100%;
        height: 300px;
    }

    .newsletter {
        margin-top: 2%;
        width: 100%;
        height: 370px;
    }

    .mantel-grafieken {
        height: 200px;
    }

    .grafiek-een,
    .grafiek-twee,
    .grafiek-drie {
        height: 200px;
    }
}

@media (max-width: 900px) {

    .titel-dashboard {
        font-size: 1.9em;
    }

    .slideshow-foto {
        height: 300px;
    }

    .slideshow-tekst {
        line-height: 300px;
        font-size: 1.2em;
    }
}

@media (max-width: 700px) {

    .titel-dashboard {
        font-size: 1.5em;
    }

    .uitleg-dashboard {
        font-size: 0.9em;
    }

    .knop-dashboard {
        font-size: 0.8em;
    }

    .mantel-dashboard {
        height: 640px;
    }

    .subject-thema,
    .subject-partijen,
    .subject-politici {
        height: 200px;
    }

    .titel-subjects {
        font-size: 1.3em;
        font-weight: bold;
    }

    .knop-subjects {
        font-size: 0.7em;
        color: black;
    }

    .slideshow-foto {
        height: 250px;
    }

    .slideshow-tekst {
        line-height: 250px;
        font-size: 1.1em;
    }

    .mantel-app {
        text-align: center;
        height: 300px;
    }

    .titel-app {
        font-size: 1.5em;
    }

    .uitleg-app {
        font-size: 0.9em;
        line-height: 25px;
    }

    .align-app {
        padding: 20px;
    }

    .alerts {
        text-align: center;
    }

    .titel-alerts {
        font-size: 1.5em;
    }

    .uitleg-alerts {
        font-size: 0.9em;
        line-height: 25px;
    }

    .newsletter {
        text-align: center;
        height: 350px;
    }

    .titel-newsletter {
        font-size: 1.5em;
    }

    .uitleg-newsletter {
        font-size: 0.9em;
        line-height: 25px;
    }

    .mantel-grafieken {
        height: 150px;
    }

    .grafiek-een,
    .grafiek-twee,
    .grafiek-drie {
        height: 150px;
    }
}

@media (max-width: 600px) {

    .slideshow-tekst {
        font-size: 0.85em;
    }

    .mantel-grafieken {
        height: 120px;
    }

    .grafiek-een,
    .grafiek-twee,
    .grafiek-drie {
        height: 120px;
    }

    .grafiek-placeholder {
        font-size: 1.2em;
    }
}

@media (max-width: 400px) {

    .titel-dashboard {
        font-size: 1.2em;
        margin-top: -70px;
    }

    .uitleg-dashboard {
        font-size: 0.7em;
        line-height: 15px;
    }

    .knop-dashboard {
        font-size: 0.7em;
    }

    .subject-thema,
    .subject-partijen,
    .subject-politici {
        height: 150px;
    }

    .knop-subjects {
        font-size: 0.5em;
    }
}



/*GRAPH*/
.rofloGraphOuter{
    height:auto;
    margin:0;
    padding:20px;

}
.rofloGraph {
    height: 100%;
    width: 100%;
    background-color: #c9e2ff;
}
.rofloGraphContainer{
    width:calc(80% + 40px);
}
row.spacing {
}
.roflographUpper{
    height:30px;
    background-color:black;
}
.rofloTagContainer{
    padding:10px;
}
.rofloInfo {
    color: #68aaf3;
    display: block;
    width: 100%;
    text-align: center;
}