body {
    background-color:white;
}
.content-wrapper{
    background-color:white;

}
.tesla-nav {
    background-color: #007bff !important;
    color: white !important;
    box-shadow: 0px 1px 8px black;
    position:absolute;
}
.tesla-brand{
     color:white!important;
}
.tesla-nav-toggle{
    color:white;
    background-color:white;
}
.tesla-bar-icon{
    color:white;
}
.tesla-container {
}
@media only screen and (min-width: 992px){
    .tesla-side-nav {
        color: #007bff;
        background-color: #e5efff !important;
        overflow: hidden;
        font-weight: normal !important;
        margin-top: 48px !important;
        z-index:0;
        }
    li{
        font-weight:normal!important;
    }
}

a {
    color: #007bff;
}

.collapse.show > ul > li > *,
.collapse.show > ul > li > ul > li > *,
.collapse.show > ul > li > ul > li > ul > li > * {
    color:white;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
.tesla-popup {
    width:100vw;
    height:100vh;
    overflow:hidden;
    border: 1px solid #007bff;
    position: absolute;
    top: 00px;
    left: 00vw;
    z-index: -1;
    background-color: #80808069;
    opacity:0;
}
.tesla-popup-window {
    height: 70vh;
    width: 70vw;
    position: absolute;
    top: -100vh;
    left: 15vw;
    z-index: 9999;
    border-radius: 10px;
    background-color: white;
    padding:0;
    overflow:hidden;

}
.tesla-popup-header {
    width: 100%;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #007bff;
    position:absolute;
}
.tesla-popup.open {
    animation: tesla-popup-open;
    animation-duration:1s;
    animation-fill-mode:forwards;
}
.tesla-popup-window.open {
    animation: tesla-popup-window-open;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@-webkit-keyframes tesla-popup-window-open{
    from {
        top: -100vh;
    }
    to {
        top: 15vh;
    }
}
@-webkit-keyframes tesla-popup-open {
    from {
        z-index: 0;
        opacity: 0;
    }
    to {
        opacity: 1;
        z-index: 9999;
    }
}
.tesla-popup-container {
    margin-top: 30px;
    padding: 7px;
    color: #007bff;
    font-size:14px;
    overflow:scroll;
    height:95%;
    overflow-x:hidden;
}
.TeslaGraphDelete {
    width: 20px;
    height: 20px;
    background-color: white;
    margin-top: -7px;
    margin-right: -7px;
    border-radius: 20px;
    color: #007bff;
    font-size:12px;
    font-weight:bold;
    box-shadow: 0px 0px 8px gray;
    border: 2px solid #007bff;
    position:absolute;
    right:0;
   
}
    .TeslaGraphDelete:hover {
        background-color: #82bbf8;
    }
.TeslaGraphDelete.hide {
    display: none;
}
.gridster{
    overflow-x:auto;
    overflow-y:hidden;
    padding-top:10px;
}
.gridsterMenu {
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 20px;
    margin-top:10px;
    height: auto;
    width: auto;
    display: inline-block;
    background-color: none;
    color: #007bff;
}
.teslaDashboardEdit {
    margin-left: 100px;
    cursor: pointer;
    transition: .5s;
    padding:2px;
}
.teslaDashboardEdit:hover {
    transform: scaleX(1.2) scaleY(1.2);
}
.teslaDashboardEdit.selected {
    border: 1px solid #007bff;
    border-radius: 5px;
    color: white;
    background-color: #007bff;
}
.teslaDashboardAdd {
    cursor: pointer;
    transition: .5s;
}
.teslaDashboardAdd:hover {
    transform: scaleX(1.2) scaleY(1.2);
}
.error{
    border:2px solid red;
    border-radius:5px;
    outline:0;
}
#GraphErrors{
    margin-top:10px;
    color:red;
    margin-left:-8px;
}
.TeslaSingleGraph {
    color: #007bff;
    font-size: 55px;
    
}
.TeslaNoDisplay{
    display:none;
}
.TeslaLNavLogin{
    float:right;
    color:white;
}
a#registerLink{
    color:black;
    float:right;
}
a#loginLink{
    color:black;
    float:right;
}
a#TeslaHello{
    color:white;
}
a#TeslaLogOff{
    color:white;
}
.TeslaSingleContainer {
    height: 100%;
    border-radius: 5px;
    background-color: #c9e2ff;
    color: black;
}
p.TeslaSingleGraph {
    background-color:white;
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 6;
    display: block;
}
.TeslaSingleGraph{
}
.TeslaSingleValueInformation {
    width: 100%;
    height:calc(100%-88px);
    border-radius: 5px;
    z-index: 1;
    display: block;
    margin-top:5px;
    text-align:center;
    overflow:hidden;
}
.TeslaSingleInfoCalculation {
    position: absolute;
    padding: 3px;
    background-color: #91c6ff;
    top: 66px;
    border-top-right-radius: 5px;
    font-size:12px;
}
.teslaTag {
    margin: 2px;
    background-color: #91c6ff;
    font-size:12px;
    padding: 4px;
    border-radius: 5px;
    color: white;
    display: inline-block;
}
.TeslaBarInformation {
    width: 100%;
    border-radius: 5px;
    z-index: 1;
    display: block;
    margin-top: 5px;
    text-align: center;
    overflow: hidden;

}
.TeslaIndexP {
    color:#007bff ;
}
.TeslaIndexFoto {
    height: 350px;
    object-fit: cover;
    object-position: 70% 35%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}