html {
    height: 100%;
}
body {
    background-color: #f9f9f9;
    height: 100%;
}
.content-wrapper{
    height:100%;
    margin-top:-80px;

}
.tesla-nav {
    background-color: #007bff !important;
    color: white !important;
    box-shadow: 0px 1px 8px black;
    position:absolute;
}
.tesla-brand{
     color:white!important;
}
.tesla-nav-toggle{
    color:white;
    background-color:white;
}
.tesla-bar-icon{
    color:white;
}
.tesla-container {
    height: 100%;
    padding-top: 80px;
}
@media only screen and (min-width: 992px){
    .tesla-side-nav {
        color: #007bff;
        background-color: #e5efff !important;
        overflow: hidden;
        font-weight: normal !important;
        margin-top: 48px !important;
        z-index:0;
        }
    li{
        font-weight:normal!important;
    }
}

a {
    color: #007bff;
}

.collapse.show > ul > li > *,
.collapse.show > ul > li > ul > li > *,
.collapse.show > ul > li > ul > li > ul > li > * {
    color:white;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
.tesla-popup {
    width:100vw;
    height:100vh;
    overflow:hidden;
    border: 1px solid #007bff;
    position: absolute;
    top: 00px;
    left: 00vw;
    z-index: -1;
    background-color: #80808069;
    opacity:0;
}
.tesla-popup-window {
    height: auto;
    width: 70vw;
    position: absolute;
    top: 15vh;
    left: 15vw;
    z-index: 9999;
    border-radius: 10px;
    background-color: white;
    max-height: 70%;
    padding: 0;
}
.tesla-popup-header {
    width: 100%;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #007bff;
    position:absolute;
}
.tesla-popup.open {
    animation: tesla-popup-open;
    animation-duration:1s;
    animation-fill-mode:forwards;
}
.tesla-popup-window.open {
    animation: tesla-popup-window-open;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@-webkit-keyframes tesla-popup-window-open{
    from {
        transform:scale(0.3);
    }
    to {
        transform: scale(1);
    }
}
@-webkit-keyframes tesla-popup-open {
    from {
        z-index: 0;
        opacity: 0;
    }
    to {
        opacity: 1;
        z-index: 9999;
    }
}
.tesla-popup-container {
    margin-top: 30px;
    max-height:65vh;
    padding: 7px;
    color: #007bff;
    font-size: 14px;
    overflow: auto;
    height: 95%;
    overflow: auto;
}
.TeslaGraphDelete {
    width: 20px;
    height: 20px;
    background-color: white;
    margin-top: -7px;
    margin-right: -7px;
    border-radius: 20px;
    color: #007bff;
    font-size:12px;
    font-weight:bold;
    box-shadow: 0px 0px 8px gray;
    border: 2px solid #007bff;
    position:absolute;
    right:0;
   
}
    .TeslaGraphDelete:hover {
        background-color: #82bbf8;
    }
.TeslaGraphDelete.hide {
    display: none;
}
.gridster{
    overflow:auto;
    padding-top:10px;
}
.gridsterContainer {
    padding-left:30px;
width:100%;
}
.gridsterMenu {
    margin-left: -20px;
    padding-left: 60px;
    padding-right: 10px;
    font-size: 20px;
    margin-top: 10px;
    height: auto;
    width: auto;
    display: inline-block;
    background-color: none;
    color: #007bff;
}
.teslaDashboardEdit {
    cursor: pointer;
    transition: .5s;
    padding:2px;
}
.teslaDashboardEdit:hover {
    transform: scaleX(1.2) scaleY(1.2);
}
.teslaDashboardEdit.selected {
    border: 1px solid #007bff;
    border-radius: 5px;
    color: white;
    background-color: #007bff;
}
.teslaDashboardAdd {
    cursor: pointer;
    transition: .5s;
}
.teslaDashboardAdd:hover {
    transform: scaleX(1.2) scaleY(1.2);
}
.error{
    border:2px solid red;
    border-radius:5px;
    outline:0;
}
#GraphErrors{
    margin-top:10px;
    color:red;
    margin-left:-8px;
}
.TeslaSingleGraph {
    color: #007bff;
    font-size: 55px;
    
}
.TeslaNoDisplay{
    display:none;
}
.TeslaLNavLogin{
    float:right;
    color:white;
}
a#registerLink{
    color:black;
    float:right;
}
a#loginLink{
    color:black;
    float:right;
}
.TeslaSingleContainer {
    height: 100%;
    border-radius: 5px;
    background-color: #c9e2ff;
    color: black;
}
p.TeslaSingleGraph {
    background-color:white;
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 6;
    display: block;
}
.TeslaSingleGraph{
}
.TeslaSingleValueInformation {
    width: 100%;
    height:calc(100%-88px);
    border-radius: 5px;
    z-index: 1;
    display: block;
    margin-top:5px;
    text-align:center;
    overflow:hidden;
}
.TeslaSingleInfoCalculation {
    position: absolute;
    padding: 3px;
    background-color: #91c6ff;
    top: 66px;
    border-top-right-radius: 5px;
    font-size:12px;
}
.teslaTag {
    margin: 2px;
    background-color: #91c6ff;
    font-size:12px;
    padding: 4px;
    border-radius: 5px;
    color: white;
    display: inline-block;
}
.TeslaBarInformation {
    width: 100%;
    border-radius: 5px;
    z-index: 1;
    display: block;
    margin-top: 5px;
    text-align: center;
    overflow: hidden;

}
.TeslaSiteContentContainer{
    color:black;
}
.TeslaIndexP {
    color:#007bff ;
}
.TeslaIndexFoto {
    height: 350px;
    object-fit: cover;
    object-position: 70% 35%;
    filter: grayscale(100%) brightness(70%);
    -webkit-filter: grayscale(100%) brightness(70%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.TeslaIndexNumber {
    color: #7dbcff;
    font-weight: 900;
}
.TeslaIndexSlider {
    height:auto;
}
.TeslaIndexContainer{
    color: black;
    margin-top:20px;
}
.TeslaIndexIcon {
    font-size: 40px;
    color: #7dbcff;
}


ul.slick-dots{
    margin-top:0;
    margin-top:-30px!important;

    position:absolute;
}
.popover-content.note-children-container{
    display:none;
}
.note-popover.popover {
    display: none;
}
.TeslaSiteContentContainer {
    margin-left: 20px;
    margin-right: 20px;
}
.colorpicker-2x .colorpicker-saturation {
    width: 200px;
    height: 200px;
}

.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
    width: 30px;
    height: 200px;
}

.colorpicker-2x .colorpicker-preview,
.colorpicker-2x .colorpicker-preview div {
    height: 30px;
    font-size: 16px;
    line-height: 160%;
}

.colorpicker-saturation .colorpicker-guide,
.colorpicker-saturation .colorpicker-guide i {
    height: 10px;
    width: 10px;
    border-radius: 10px;
}
.TeslaGraphPopupHeader {
    width: 100%;
    padding: 3px;
    padding-left: 10px;
    background-color: #c9e2ff;
    display: block;
    border-radius: 5px;
    color: #007bff;
    font-weight:bold;
    margin-top:15px;
}
.TeslaGraphPopupContent {
    width: 100%;
    padding: 3px;
    padding-left: 10px;
    margin-top: 5px;
    background-color: #eef6ff;
    border-radius: 5px;
}
.TeslaSingleTrendValue {
    color: #007bff;
    font-size: 50px;
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: -10px;
}
.TeslaSingleTrendValueContainer {
    
    
}
.TeslaTrendArrow{
    font-size:20px!important;
    line-height:0px;
    margin-left:8px;
    padding:3px;
    border-radius:10px;
}
.TeslaTrendArrowContainer {
    font-size: 20px !important;
    line-height: 0px;
    margin-left: 8px;
    padding: 3px;
    border-radius: 10px;
    margin-bottom:-5px;
}
.TeslaDashboardContainer {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: -1;
    background-color: #F0F0F0;
    /*
    background-image: url(./Images/flag-of-belgium.jpg);
    background-repeat: no-repeat;
    background-size: cover;transform:rotateY(180deg);
    -webkit-filter: blur(300px) brightness(1) saturate(1);
    -moz-filter: blur(300px) brightness(2);
    -o-filter: blur(300px) brightness(2);
    -ms-filter: blur(300px) brightness(2);
    filter: blur(300px) brightness(2);
    opacity: 0.5;*/
}
.teslaLoader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #004f12; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: teslaspin 2s linear infinite;
    display:inline-block;
    
}

@keyframes teslaspin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.teslaAddGraphButton {
    max-height: 33.5px;
    max-width: 107.83px;
    min-height: 33.5px;
    min-width: 107.83px;
    text-align: center;
}
.teslaExplainGraphPopup {
    color: #79b4ff;
}

.tesla-title {
    padding: 2px
}
.TeslaRegisterContainer {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: -1;
    background-color: #F0F0F0;
    color:black;
    padding-top:100px;
    padding-right:40px;
    z-index:5;
}
.TeslaManageContainer {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: -1;
    background-color: #F0F0F0;
    color: black;
    padding-top: 100px;
    padding-left:30px;
    padding-right: 40px;
    z-index: 5;
}
.TeslaLoginContainer {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: -1;
    background-color: #F0F0F0;
    color: black;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 40px;
    z-index: 5;
}
.teslaUserLabel > a{
    margin-right:20px;
    color:black;
}
.TeslaThemesContainer {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
    color: black;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 40px;
    z-index: 5;
    text-align:center;
}
.teslaThemeCarcContainer{
    margin-top:10px;
    height:250px;
    width:100%;
    background-size:cover;
    border:2px solid #007bff;
    border-radius:10px;
    box-shadow:2px 2px 10px gray;
    filter:brightness(90%);
    cursor:pointer;
    transition:0.3s;
    overflow:hidden;
    position:relative;
}
.teslaThemeCarcContainer:hover {
    filter: brightness(110%);
    transform:scale(1.025);

}
.TeslaThemeCardText {
    width: 100%;
    text-align: center;
    margin: 0;
    padding:1px;
    color: white;
    font-size: 22px;
    font-weight:bold;
    position:absolute;
    bottom:0;
    height:auto;
    background-color:#007bff;
    left:0;
    line-height:32px

}
.TeslaThemeDetailFoto{
    width:300px;
    position:relative;
}
.TeslaThemeInfo {
    background-color: #eeeeee;
    margin-right: 20px;
    border-radius: 10px;
    height: 180px;
    box-shadow: 2px 4px 5px lightgray;
    display: inline-block;
    width: 30%;
}
@media only screen and (max-width:1445px) {
    .TeslaThemeInfo {
        display: block;
        width: 80%;
        margin-left: 10%;
        margin-top: 10px;
    }
}
.teslaThemeTitle{

    margin-top:20px;
    font-size:20px;
    color:black;
    margin-left:5px;
}

.TeslaCenterContainer{
    text-align:center;
    width:auto;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.TeslaThemeSucces {
    position: absolute;
    right: 25px;
    top: 20px;
    padding: 5px;
    border-radius: 180px;
    color: black;
    font-size: 20px;
    font-weight: 700;
    filter: brightness(120%);
    background-color: #cfe4d5;
}
.TeslaThemeFail {
    position: absolute;
    right: 25px;
    top: 20px;
    padding: 5px;
    border-radius: 180px;
    color: black;
    font-size: 20px;
    font-weight: 700;
    filter: brightness(120%);
    background-color: #f3d3d9;
}
.teslaSingleThemeTrendInfo.positive {
    display: inline-block;
    border-radius: 15px;
    margin-top: 10px;
    padding: 6px;
    font-size: 20px;
    color: darkgreen;
    background-color: #8afa81ab;
}
.teslaSingleThemeTrendInfo.negative {
    display: inline-block;
    border-radius: 15px;
    margin-top: 10px;
    padding: 6px;
    font-size: 20px;
    color: darkred;
    background-color: #f3d3d9;
}
.TeslaThemeWoordenGrafiek {
    margin-right: 20px;
    border-radius: 10px;

    padding: 5px;
    display: inline-block;
    background-color: #eeeeee;
    margin-top: 20px;
    width: 30%;
    box-shadow: 2px 4px 5px lightgray;
}
@media only screen and (max-width:1445px) {
    .TeslaThemeWoordenGrafiek {
        display: block;
        width: 80%;
        margin-left: 10%;
        margin-top: 10px;
    }
}