@model IEnumerable<String>
@{
    ViewBag.Title = "Organisaties";
}

<h2>Organisaties</h2>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
            @item
                </td>
        </tr>
    }
</table>
<ul id="myUL" class="container float">
    
</ul>
@*<table class="table">
        <tr>
            <th>
                Naam
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organisation)
            </th>>
        </tr>
        @foreach (var item in Model)
        {
            <tr id="elementen">
                <td>
                    @Html.DisplayFor(modelItem => item.Organisation)
                </td>
                <td>
                    @Html.ActionLink("Detail", "Persoon", new { Full_Name = item.Full_Name })
                </td>
            </tr>
        }
    </table>*@