@model IEnumerable<Integratie.Domain.Entities.Subjects.Person>
<h1>Personen</h1>
<h2 style="color: black">@ViewBag.Description</h2>
<table class="table" style="color: black">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Full_Name
            </td>
            <td>
                @Html.ActionLink("Detail", "Persoon", new { id = item.ID })
            </td>
        </tr>
    }
</table>