@model List<Integratie.Domain.Entities.Subjects.Person>

<table class="table">
    <tr>
        <td>VN</td>
        <td>AN</td>
    </tr>
    
    @foreach (var c in Model)
    {
        <tr>
            <td>
                @c.First_Name
            </td>
            <td>
                @c.Last_Name
            </td>
        </tr>
    }
</table>

<input type="file" name="FileUpload" />
<input type="submit" name="Submit" id="Submit" value="Upload" />
